* { box-sizing: border-box; }

/* Body Styling */
body {
background-color: #FCEBB6;
background-image: url("../images/fadedroad50.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: #221811;
font-family: Tahoma, Arial, sans-serif;
}

/* Page Wrapper */
#wrapper {
background-color: #FEFAEB;
margin-left: auto;
margin-right: auto;
width: 80%;
min-width: 900px;
max-width: 1280px;
box-shadow: 3px 3px 3px #676767;
padding: 0;
background-color: #231814; 
}

/* Header */
/* I had issues here with getting the image to be fully present so
the folowing will align it the left center, scale to fit without cropping, 
adjust based on logo size, and keeps the text pushed to right. */
header {
  background-image: url("../images/coffeelogo.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  height: 150px;
  padding-left: 240px;
  display: flex;
  align-items: center;
  background-color: #D2B48C;
}

/* Header link styiling */
header a {
text-decoration: none;
color: #231814;
}

/* Header link hover */
header a:hover {
color: #FEF6C2;
}

/* Nav sidebar */
nav {
  float: left;
  width: 200px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #231814;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
}

/* Nav list container */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

/* Nav list spacing */
nav li {
  margin: 10px 0;
}

/* Nav link colors */
nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }
nav a {
text-decoration: none;
}


/* Main */
main {
margin-left: 200px;
padding: 0;
background-color: #FEF6C2;
overflow: auto;
}

/* Spacing for elements in main */
main h2, main h3, main h4, main p, main div, main ul, main dl {
padding-left: 3em;
padding-right: 2em;
}

/* Audio player */
audio {
display: block;
margin-top: 1em;
}

/* Hero sections */
#homehero {
background-image: url("../images/hero.jpg");
background-size: 100% 100%;
height: 300px;
}
#heromugs {
background-image: url("../images/heromugs.jpg");
background-size: 100% 100%;
height: 300px;
}
#heroguitar {
background-image: url("../images/heroguitar.jpg");
background-size: 100% 100%;
height: 300px;
}

/* Jobs page banner */
.banner-image {
display: block;
width: 100%;
height: auto;
}

/* Jobs page caption for banner */
.caption {
text-align: center;
font-size: 0.9em;
font-style: italic;
margin-top: 0.5em;
}

/* Jobs page apply section */
.apply {
  padding: 2em 3em;
  font-weight: bold;
  text-align: center;
}

/* Jobs page container margin */
#careerhero {
margin-bottom: 1em;
}

/* Headings */
h1 { font-size: 3em; }
h2 { color: #8C3826; }
h3, dt { color: #8C3826; }
h4 {
text-transform: uppercase;
border-bottom: 1px solid #231814;
padding-bottom: 0;
clear: left;
background-color: #D2B48C;
padding-left: .5em;
}

/* Utility classes */
.floatleft {
float: left;
padding-right: 2em;
padding-bottom: 2em;
}
.details {
overflow: auto;
}
.onethird {
float: left;
width: 33%;
}

/* Footer */
footer {
background-color: #D2B48C;
font-size: .8em;
font-style: italic;
text-align: center;
padding: 1em 0;
border-top: 2px solid #8C3826;
clear: both;
}